/* Reset some default browser styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Apply a background color and text color */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

/* Style the header and navigation menu */
header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Style the main content */
main {
    padding: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Style the footer */
footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.image {
    display: block;
    margin: 0 auto;}